.navbar {
  display: flex; /* Use flexbox for inline display */
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Vertically center the items */
  margin-top: 50px;
  position: sticky;
  padding-right: 50px; /* Adjust padding to position the items */
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  cursor: pointer; /* Add cursor pointer for better UX */
  margin: 0 15px; /* Add some horizontal margin */
}

.navbar-brand:hover {
  color: #007bff; /* Change color on hover */
  text-decoration: none; /* Remove underline on hover */
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 15px; /* Add some horizontal margin */
}

.custom-select {
  display: inline-block;
  width: auto; /* Adjust width to auto */
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-select:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.custom-select::-ms-expand {
  background-color: transparent;
  border: none;
}

.custom-select option {
  padding: 0.5rem;
}

.custom-select option:hover {
  background-color: #f8f9fa;
}

.custom-select option:selected {
  background-color: #007bff;
  color: #fff;
}
.card
{
margin-top: 150px;
display: flex;
}
.login-container {
width: 200px;
margin: 0 auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
height: 200px;

}

form {
display: flex;
flex-direction: column;
}

label, input, button {
margin-bottom: 10px;
}
  
.login
{
margin-left: 500px;
}
